* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #3A5C65;
}

aside {
    width: 30%;
    min-width: 250px;
    height: 100%;
    position: fixed;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 13px double #3A5C65;
    position: absolute;
}

aside img {
    width: 100%;
    max-width: 200px;
    min-width: 100px;
    border-radius: 50%;
    border: 5px solid #3A5C65;
    margin-bottom: 10px;
}

aside nav a {
    width: 100px;
    margin-left: 48px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    color: #3A5C65;
    font-size: 1.1em;
    padding: 5px;
}

aside nav a:hover {
    background: #3A5C65;
    border-radius: 5%;
    color: #000;
    transition: 0.6s;
}

main {
    height: 100%;
    padding-left: 408px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    font-size: 4.5em;
    text-align: right;
}

main p {
    width: 850px;
    margin-top: 10px;
    font-size: 1.3em;
    text-align: right;
    
}

main span {
    color: #2D3434;
}