@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #3A5C65;
    scroll-behavior: smooth;
}

aside {
    width: 30%;
    min-width: 250px;
    height: 100%;
    position: fixed;
    background-color: #1A2930;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 13px double #3A5C65;
}

aside img {
    width: 100%;
    max-width: 200px;
    min-width: 100px;
    border-radius: 50%;
    border: 5px solid #3A5C65;
    margin-bottom: 10px;
}

aside nav a {
    font-family: 'Roboto Mono', monospace;
    width: 140px;
    padding: 5px;
    margin-left: 35px;
    margin-top: 5px;
    letter-spacing: 3px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #3A5C65;
}

aside nav a:hover {
    background: #3A5C65;
    border-radius: 5%;
    color: #000;
    transition: 0.5s;
}

/* /aside */

#quem-sou, #formacao, #portifolio {
    height: 620px;
    padding-left: 408px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quem-sou h1, #formacao h2, #portifolio h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 4.5em;
    text-align: right;
}

#quem-sou p, #formacao p, #portifolio p {
    font-family: 'Roboto Mono', monospace;
    width: 850px;
    margin-top: 18px;
    text-align: right;
}

#quem-sou p {
    margin-left: 15px;
}
#quem-sou span {
    color: #2D3434;
}

#redes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 735px;
    width: 130px;
    margin-top: 30px;
}

/* /main */

#topo a {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    margin-top: 590px;
    color: #000;
    text-decoration: none;
    display: flex;
    transform: rotate(90deg);
    opacity: 0.5;
    transition: 0.3s;
}

#topo a:hover {
    color: #000;
    opacity: 1;
    transition: 0.3s;
}