@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #1A8B9D;
    scroll-behavior: smooth;
}

aside {
    width: 30%;
    width: 400px;
    height: 100%;
    position: fixed;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 13px double #1A8B9D;
}

aside img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #1A8B9D;
    margin-bottom: 10px;
}

aside nav a {
    font-family: 'Roboto Mono', monospace;
    width: 120px;
    padding: 5px;
    margin-left: 40px;
    margin-top: 5px;
    letter-spacing: 3px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #1A8B9D;
}

aside nav a:hover {
    background: #1A8B9D;
    border-radius: 4px;
    color: #07031A;
    transition: 0.5s;
}

/* /aside */

#sobre, #formacao, #contato {
    height: 620px;
    padding-left: 408px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre h1, #formacao h2, #contato h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 4.5em;
    text-align: right;
}

#sobre p, #formacao p, #contato p {
    font-family: 'Roboto Mono', monospace;
    color: #000;
    width: 850px;
    margin-top: 18px;
    text-align: right;
}

#sobre span {
    color: #1a383f;
}

#contato p {
    margin-left: 20px;
}

#redes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 735px;
    width: 130px;
    margin-top: 30px;
}

/* /main */

#topo a {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    margin-top: 590px;
    color: #000;
    text-decoration: none;
    display: flex;
    transform: rotate(90deg);
    opacity: 0.5;
    transition: 0.3s;
}

#topo a:hover {
    background-color: #1A8B9D;
    color: #000;
    opacity: 1;
    transition: 0.3s;
}

/* Resposividade do site*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {




}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

aside {
    width: 300px;
}

aside img {
    width: 180px;
}

aside nav a {
    width: 105px;
    letter-spacing: 2px;
}

#sobre, #formacao, #contato {
    max-width: 992px;
}

#sobre h1, #formacao h2, #contato h2 {
    font-size: 4em;
}

#sobre p, #formacao p, #contato p {
    font-size: 0.9em;
    width: 800px;
    margin-left: 50px;
}

}
